dobox.artemev.work {
    handle_path /api/* {
        reverse_proxy backend:8000
    }
    handle {
        root * /srv/dobox
        try_files {path} /index.html
        file_server
        encode gzip zstd
    }
}
